/* Login.css */

/* Style for the login container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    background-color: #340303 ; /* Light gray background */
  }
  
  .login-box {
    background-color: #DCAC3C;
    padding: 30px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    width: 100%;
    max-width: 400px; /* Limit the width of the form */
  }
  
  .login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif; /* Professional font */
    color: #340303;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .input-container label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #340303;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #f2d89c;
    border-radius: 5px;
  }
  
  .input-container input:focus {
    border-color: #f2d89c; /* Change border color when focused */
    outline: none;
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    background-color: #930e0e; /* Blue background */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-btn:hover {
    background-color: #5A0808; /* Darken button color on hover */
  }
  
  .login-btn:focus {
    outline: none;
  }
  @media screen and (max-width: 1024px) {
    .login-box {
      max-width: 350px; /* Slightly reduce the width */
      padding: 25px;
    }
  
    .login-box h2 {
      font-size: 22px;
    }
  
    .input-container input {
      font-size: 15px;
      padding: 8px;
    }
  
    .login-btn {
      font-size: 15px;
      padding: 8px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .login-container {
      padding: 20px; /* Add padding for spacing */
    }
  
    .login-box {
      max-width: 320px;
      padding: 20px;
    }
  
    .login-box h2 {
      font-size: 20px;
    }
  
    .input-container input {
      font-size: 14px;
      padding: 8px;
    }
  
    .login-btn {
      font-size: 14px;
      padding: 8px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .login-box {
      max-width: 280px;
      padding: 15px;
    }
  
    .login-box h2 {
      font-size: 18px;
    }
  
    .input-container input {
      font-size: 13px;
      padding: 7px;
    }
  
    .login-btn {
      font-size: 13px;
      padding: 7px;
    }
  }
  